@import "../../../assets/scss/variables";

.tippy-box[data-theme="field"] {
  background: $color-content-bg;
  color: $color-text-light;
  border-radius: $border-radius-small;

  .tippy-content {
    padding: 0;
  }

  .field-tooltip {
    width: 220px;
    font-size: 12px;
    line-height: 14px;

    header {
      padding: 12px 20px;
      margin-bottom: 6px;
      color: $color-text-white;
      border-radius: $border-radius-small $border-radius-small 0 0;

      .name {
        font-size: 16px;
        line-height: 19px;
        font-weight: $font-weight-semibold;
      }

      .category {
        margin-top: 4px;
        font-size: 11px;
        line-height: 13px;
      }
    }

    section {
      padding: 10px 20px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
    }

    .icon.-star {
      margin-right: 3px;
    }

    &.-color {
      &-pink {
        header {
          background: $color-item-pink;
        }
      }
      &-red {
        header {
          background: $color-item-red;
        }
      }
      &-orange {
        header {
          background: $color-item-orange;
        }
      }
      &-blue-green {
        header {
          background: $color-item-blue-green;
        }
      }
      &-vinous {
        header {
          background: $color-item-vinous;
        }
      }
      &-blue {
        header {
          background: $color-item-blue;
        }
      }
      &-green {
        header {
          background: $color-item-green;
        }
      }
      &-light-blue {
        header {
          background: $color-item-light-blue;
        }
      }
      &-violet {
        header {
          background: $color-item-violet;
        }
      }
      &-gray {
        header {
          background: $color-item-gray;
        }
      }
    }
  }
}

.component.-table-item {
  position: relative;
  margin: 1px;
  font-size: 10px;
  line-height: 10px;
  background: $color-game-table-bg;
  color: $color-text-regular;
  cursor: default;
  user-select: none;

  .intro {
    width: 100%;
    height: 100%;
  }

  .label {
    margin-top: 5px;
    font-size: 9px;
    line-height: 11px;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .icon {
    max-width: 100%;
    max-height: 100%;
  }

  .price-block {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price {
    width: 100%;
    padding: 6px 0;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    font-weight: $font-weight-bold;
    border-radius: 20px;
    color: $color-text-white;
  }

  &.-color {
    &-red {
      .price {
        background: $color-item-red;
      }
    }
    &-orange {
      .price {
        background: $color-item-orange;
      }
    }
    &-green {
      .price {
        background: $color-item-green;
      }
    }
    &-blue {
      .price {
        background: $color-item-blue;
      }
    }
    &-vinous {
      .price {
        background: $color-item-vinous;
      }
    }
    &-light-blue {
      .price {
        background: $color-item-light-blue;
      }
    }
    &-pink {
      .price {
        background: $color-item-pink;
      }
    }
    &-orange {
      .price {
        background: $color-item-orange;
      }
    }
    &-blue-green {
      .price {
        background: $color-item-blue-green;
      }
    }
    &-violet {
      .price {
        background: $color-item-violet;
      }
    }
    &-gray {
      .price {
        background: $color-item-gray;
      }
    }
  }

  &.-row-top {
    .price-block {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.-row-right {
    .price-block {
      top: 50%;
      right: 0;
      transform: rotate(90deg) translate(-50%, -50%);
    }
  }

  &.-row-bottom {
    .price-block {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &.-row-left {
    .price-block {
      top: 50%;
      left: 0;
      transform: rotate(-90deg) translate(50%, -50%);
    }
  }

  &.-interactive {
    cursor: pointer;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &[data-owner="red"] {
    &:before {
      background: rgba($color-chip-red, .5);
    }
  }

  &[data-owner="yellow"] {
    &:before {
      background: rgba($color-chip-yellow, .5);
    }
  }

  &[data-owner="green"] {
    &:before {
      background: rgba($color-chip-green, .5);
    }
  }

  &[data-owner="blue"] {
    &:before {
      background: rgba($color-chip-blue, .5);
    }
  }

  &[data-owner="violet"] {
    &:before {
      background: rgba($color-chip-violet, .5);
    }
  }
}
