@import "../../../assets/scss/variables";

.component.-table-item {
  border: 1px solid;
  font-size: 10px;
  line-height: 10px;

  .label {
    width: 100%;
    height: 100%;
    padding: 4px;
  }

  .price {
    margin-top: 4px;
    font-weight: $font-weight-bold;
  }

  .color {
    flex-shrink: 0;
    width: 100%;
    height: 20%;

    &.-red {
      background: $color-red;
    }
    &.-yellow {
      background: $color-yellow;
    }
    &.-green {
      background: $color-green;
    }
    &.-blue {
      background: $color-blue;
    }
    &.-vinous {
      background: $color-vinous;
    }
    &.-light-blue {
      background: $color-light-blue;
    }
    &.-pink {
      background: $color-pink;
    }
    &.-orange {
      background: $color-orange;
    }
  }

  &.-row {
    &-right,
    &-left {
      display: flex;
      align-items: center;

      .color {
        width: 20%;
        height: 100%;
      }
    }

    &-top {
      display: flex;
      writing-mode: vertical-rl;
      flex-direction: row-reverse;

      &:first-child,
      &:last-child {
        .label {
          transform: rotate(-45deg);
        }
      }

      .color {
        border-top: 1px solid;
      }
    }

    &-right {
      flex-direction: row;

      .color {
        border-right: 1px solid;
      }
    }

    &-bottom {
      display: flex;
      writing-mode: vertical-rl;

      &:first-child,
      &:last-child {
        .label {
          transform: rotate(-45deg);
        }
      }

      .color {
        border-bottom: 1px solid;
      }
    }

    &-left {
      flex-direction: row-reverse;

      .color {
        border-left: 1px solid;
      }
    }
  }
}
