$color-primary: #195CDC;
$color-primary-highlight: darken($color-primary, 5%);

$color-dark: #171717;
$color-light: #f1f1f1;
$color-danger: #bf1d4a;
$color-success: #85D79B;
$color-warning: #FDBF61;

$color-page-bg: #252A2C;
$color-content-bg: #171A1B;
$color-modal-bg: #E6E9EB;

$color-text-regular: $color-dark;
$color-text-faded: #555;
$color-text-light: $color-light;

$color-shadow: rgba(#000, 0);
$color-shadow-highlight: rgba(#000, .15);

$color-game-table-bg: #E6E9EB;

$color-red: #D82235;
$color-yellow: #FAE915;
$color-green: #009449;
$color-blue: #005A86;
$color-vinous: #9D362B;
$color-light-blue: #81CBD5;
$color-pink: #D9126C;
$color-orange: #EB8E31;

$color-chip-red: #D04D70;
$color-chip-red-dark: #A5193F;
$color-chip-yellow: #E7B93E;
$color-chip-yellow-dark: #BF941E;
$color-chip-green: #36C998;
$color-chip-green-dark: #0D8F64;
$color-chip-blue: #3E7DE7;
$color-chip-blue-dark: #1349A2;
$color-chip-violet: #A85FE9;
$color-chip-violet-dark: #752EB3;
