@import "src/assets/scss/variables";

.component.-jail-game-item {
  .donut {
    position: absolute;
    top: 13%;
    right: 13%;
  }

  .separator {
    width: 100%;
    height: 1px;
    background: $color-text-regular;
    transform: rotate(45deg);
    opacity: .5;
  }

  .cuff {
    position: absolute;
    bottom: 12%;
    left: 13%;
  }
}
