@import "src/assets/scss/variables";

.component.-notification {
  position: relative;
  min-width: 300px;
  padding: 30px 30px;
  border-radius: $border-radius-large;
  background: $color-notification-bg;
  color: $color-notification-text;

  .close {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    opacity: .5;
    transition: $transition-default;

    &:hover {
      opacity: 1;
    }
  }

  .heading {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
  }

  .button.-component {
    & > .-full {
      width: 100%;
    }
  }
}
