@import "src/assets/scss/variables";

.component.-room-list {
  width: 600px;
  background: $color-content-bg;
  border-radius: $border-radius-extra-large;

  .filter-bar {
    padding: 30px 50px;
  }

  .filter-item {
    .icon {
      margin-right: 10px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &.-disabled {
      pointer-events: none;
      opacity: .3;
    }
  }

  .list {
    & > * {
      padding: 60px 50px;
      border-top: 1px solid $color-page-bg-dark;
    }
  }
}
