@import "src/assets/scss/variables";

.component.-game-player {
  padding: 20px;
  background: $color-content-bg;
  border-radius: $border-radius-default;

  .color {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 48px;
      height: 48px;
      border: 4px solid;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .photo {
    border-radius: 50%;
  }

  .left {
    margin-right: 14px;
    padding: 8px;
  }

  .middle {
    //
  }

  .name {
    margin-top: -2px;
    font-size: 18px;
    line-height: 21px;
    font-weight: $font-weight-semibold;
  }

  .sub-text {
    margin-top: 4px;
    font-size: 13px;
    line-height: 15px;
    font-weight: $font-weight-regular;
  }

  &.-color {
    &-red {
      &.-active {
        background: $color-chip-red-dark;
      }

      .color {
        background: $color-chip-red;
        color: $color-chip-red-dark;
      }
    }

    &-yellow {
      &.-active {
        background: $color-chip-yellow-dark;
      }

      .color {
        background: $color-chip-yellow;
        color: $color-chip-yellow-dark;
      }
    }

    &-green {
      &.-active {
        background: $color-chip-green-dark;
      }

      .color {
        background: $color-chip-green;
        color: $color-chip-green-dark;
      }
    }

    &-blue {
      &.-active {
        background: $color-chip-blue-dark;
      }

      .color {
        background: $color-chip-blue;
        color: $color-chip-blue-dark;
      }
    }

    &-violet {
      &.-active {
        background: $color-chip-violet-dark;
      }

      .color {
        background: $color-chip-violet;
        color: $color-chip-violet-dark;
      }
    }
  }

  &.-active {
    .color {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 42px;
        height: 42px;
        border: 4px solid $color-content-bg;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.-has-left {
    opacity: .5;
  }
}
