.component.-room {
  width: 100%;

  .slots {
    & > * {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .close-button {
    margin-top: 20px;

    .button {
      width: 100%;

      & > * {
        width: 100%;
      }
    }
  }
}
