@import "src/assets/scss/variables";

.component.-header {
  padding: 10px 0;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      display: inline-flex;
      margin: 10px 20px;
    }
  }

  .item {
    a {
      display: inline-flex;
      padding: 10px;
      color: $color-text-light;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
