@import "src/assets/scss/variables";

.component.-game-chip {
  position: absolute;
  z-index: 1;
  padding: 6px;
  transform: translate(-50%, -50%);
  transition: $transition-chip;

  .chip {
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    background: $color-text-regular;
    border-radius: 50%;
  }

  .indicator {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    z-index: 1;
    width: 100%;
    padding-left: 1px;
    animation: indicator-spin 1s linear infinite;

    .point {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
  }

  &.-color {
    &-red {
      .chip, .point {
        background: $color-chip-red;
      }
      &:after {
        background: $color-chip-red-dark;
      }
    }

    &-green {
      .chip, .point {
        background: $color-chip-green;
      }
      &:after {
        background: $color-chip-green-dark;
      }
    }

    &-blue {
      .chip, .point {
        background: $color-chip-blue;
      }
      &:after {
        background: $color-chip-blue-dark;
      }
    }

    &-violet {
      .chip, .point {
        background: $color-chip-violet;
      }
      &:after {
        background: $color-chip-violet-dark;
      }
    }

    &-yellow {
      .chip, .point {
        background: $color-chip-yellow;
      }
      &:after {
        background: $color-chip-yellow-dark;
      }
    }
  }

  @keyframes indicator-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
