@import "src/assets/scss/variables";

.component {
  &.-notifications {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

    & > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &.-notification {
    position: relative;
    padding: 20px 30px;
    border-radius: $border-radius-small;
    background: $color-content-bg;
    color: $color-text-light;

    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 1;
      cursor: pointer;
    }
  }
}
