@import "src/assets/scss/variables";

.component.-game-menu {
  & > * {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .system-menu {
    display: flex;
    flex-direction: column;

    & > * {
      display: block;
    }
  }

  .button {
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  .hover-danger {
    &:hover {
      background: $color-danger;
    }
  }
}
